<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle id:</strong>
  <%= @quote.vehicle_id %>
</p>

<p>
  <strong>Quote reference:</strong>
  <%= @quote.quote_reference %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @quote.amount %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
