<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @personal_details.title %>
</p>

<p>
  <strong>Forenames:</strong>
  <%= @personal_details.forenames %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @personal_details.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @personal_details.email %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @personal_details.date_of_birth %>
</p>

<p>
  <strong>Telephone number:</strong>
  <%= @personal_details.telephone_number %>
</p>

<p>
  <strong>License type:</strong>
  <%= @personal_details.license_type %>
</p>

<p>
  <strong>License period:</strong>
  <%= @personal_details.license_period %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @personal_details.occupation %>
</p>

<p>
  <strong>References:</strong>
  <%= @personal_details.references %>
</p>

<%= link_to 'Edit', edit_personal_detail_path(@personal_details) %> |
<%= link_to 'Back', personal_detail_path %>
