<p id="notice"><%= notice %></p>

<p>
  <strong>User id:</strong>
  <%= @address.user_id %>
</p>

<p>
  <strong>House name or number:</strong>
  <%= @address.house_name_or_number %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @address.street_name %>
</p>

<p>
  <strong>County:</strong>
  <%= @address.county %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @address.postcode %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
